@model IEnumerable<SuperSale.Models.Car>

@{
    ViewData["Title"] = "Cars";
}

<h2>Cars</h2>

<script type="text/javascript">
function deleteItem (id) {
    event.preventDefault();
    $.ajax({
       url: "/Cars/Delete/" + id,
        type: 'delete',
        success: function () { location.reload() }
    });
}
</script>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Engine)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Engine) ccm
                </td>
                <td>
                    <a class="deleteButton" style="cursor:pointer" onclick="deleteItem(@item.CarId)">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
