@model SuperSale.Models.CustomerDetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>


<hr style="width: 900px; height: 2px; background: darkgrey; border: none;" />

<h4>Customer Cars</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                Brand
            </th>
            <th>
                Type
            </th>
            <th>
                Gen
            </th>
            <th>
                Engine
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CustomerCars)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Engine) ccm
                </td>
                <td>
                    @Html.ActionLink("Purchase", "NewPurchase", "Purchase", new { Carid = item.CarId, CustomerId = Model.CustomerId })
                </td>
            </tr>
        }
    </tbody>
</table>

<h4>Customer Orders</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                OrderId
            </th>
            <th>
                Sold by
            </th>
            <th>
                Total Price
            </th>
            <th>
                Date of sell
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CustomerOrders)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoldBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice) $
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecordedAt)
                </td>
                <td>
                    @Html.ActionLink("Details", "OrderDetails", "Details", new { OrderId = item.OrderId, CustomerId = Model.CustomerId })
                </td>
            </tr>
        }
    </tbody>
</table>


<h4>Customer Warranties</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                OrderId
            </th>
            <th>
                Brand
            </th>
            <th>
                Type
            </th>
            <th>
                Type of Part
            </th>
            <th>
                Warranty Start Date
            </th>
            <th>
                Warranty End Date
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CustomerWarranties)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarBrand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerId }) |
    <a asp-action="Search">Back to Search</a>
</div>
